@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background: #F5F5F5;
    font-family: 'Nunito Sans', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 1rem;
    transition: all ease;
    transition: 500ms;
    background: #ffffff;
}
.section :hover {
    background: blanchedalmond;
    color: aqua;
    transition: all ease;
    transition: 500ms;
    border: 0px;
}
.main-info1 {
    background: #ffffff;
    border-radius: 35px;
    width: 458px;
    height: 652px;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main-info2 {
    background: #ffffff;
    border-radius: 35px;
    width: 955px;
    height: 652px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 4rem;
}


img {
    width: 260px;
    height: 260px;
}


.main-info1 p {
    font-size: 32px;

    font-style: normal;

    margin: 7px;
}
.p-info {
    padding: 1rem ;
}
.main-info1 i {
    height: 26px;
    width: 26px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.part-1 {
    padding-top: 7rem;
}

.main-info2 p {
    font-size: 32px;

    font-style: normal;

    margin: 7px;
}

.main-info2 i {
    height: 24px;
    width: 24px;
    padding-right: 1rem;
    padding-left: 1rem;
}
.note {
    padding-left: 4.3rem;
    max-width: 400px;
}

a {
    color: rgb(80, 80, 216);
}

a :hover {
    color:pink;
}

.main-info1 :hover {
    padding-left: 1rem;
    transition: all ease-in-out;
    transition: 1000ms;
}
.main-info1:hover {
    padding-left: 1rem;
    transition: all ease-in-out;
    transition: 1000ms;
    border: 2px solid black;
}
.main-info2 :hover {
    padding-left: 1rem;
    transition: all ease-in-out;
    transition: 1000ms;
}
.main-info2:hover {
    padding-left: 1rem;
    transition: all ease-in-out;
    transition: 1000ms;
    border: 2px solid black;
}
.footer{
    display: flex;
    justify-content: end;
}
.footer h2 {
    font-size: 45px;
    font-weight: 300;
    font-style: normal;
    margin: 7px;
}
marquee {
    background: cyan;
    color:#ffffff
    
}
marquee:hover {
    background: blue;
    transition: all ease-in-out;
    transition: 800ms;
}
.part-2 {
    max-width: 650px;
}